input {
  margin-top: 10px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 10px;
}
form {
  display: flex;
  flex-direction: column;
}
@media only screen and (max-width: 600px) {
  body {
    display: flex;
    flex-direction: column;
    padding: 15px;
  }
  .main-container {
    display: flex;
    flex-direction: column;
    width: 90%;
  }
}
